<section id="banner" class="section-m1 py-5 " style="background-image: url('/images/about/banner.png'); background-size: cover; background-position: center;">
    <div class="container text-center">
        <h2 class="text-white">
            #About Us
        </h2>

    </div>
</section>
<section id="about-head" class="d-flex flex-wrap p-3 ">
    <div class="col-12 col-lg-4 col-md-12 mb-3  " style="margin-right:50px">
        <img src="/images/about/a6.jpg" alt="About Us Image" class="img-fluid w-100">
    </div>
    <div class="col-12 col-lg-6 col-md-12 text-center text-md-start" style="padding-top: 20px;">
        <h2>Who We Are??</h2>
        <p style="line-height: 1.6;">
            We are a passionate team dedicated to delivering exceptional products and services. Our commitment to quality
            ensures that every item we offer meets the highest standards. With a focus on innovation and customer satisfaction,
            we strive to create a seamless shopping experience. From our carefully curated collections to our personalized
            support, we take pride in making every interaction meaningful and impactful. Discover the difference with us and let
            us exceed your expectations.
        </p>
        <abbr style="display: block; margin: 20px 0;">
            Create stunning images with as much or as little control as you
            like thanks to a choice of basic and creative modes
        </abbr>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            Create stunning images with as much or as little control as you like thanks to a choice of basic and creative
            modes
        </marquee>
    </div>
</section>
<section id="banner" class="section-m1 py-5 mt-100" style="background-image: url('/images/banner/b2.jpg'); background-size: cover; background-position: center;">
    <div class="container text-center">
        <h2 class="text-white">
            #Contact Us
        </h2>

    </div>
</section>
<section id="content-details" class="container d-flex flex-wrap align-items-center justify-content-between mt-4">
    <div class="details col-12 col-lg-5 mb-4">
        <span style="font-size: 12px;">Get in touch</span>
        <h2 style="font-size: 26px; line-height: 35px; padding: 20px 0;">Visit One of our agency locations or contact us today</h2>
        <h3 style="font-size: 16px; padding-bottom: 15px;">Head Office</h3>
        <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-3" style="font-size: 20px;">
                <i class="fa fa-map-marker-alt" style="color: #000; margin-right: 14px;"></i>
                <p class="mb-0">56 Glassford street Glassgo Guili New Work</p>
            </li>
            <li class="d-flex align-items-center mb-3" style="font-size: 20px;">
                <i class="fa fa-envelope" style="color: #000; margin-right: 14px;"></i>
                <p class="mb-0">contact@example.com</p>
            </li>
            <li class="d-flex align-items-center mb-3" style="font-size: 20px;">
                <i class="fa fa-envelope" style="color: #000; margin-right: 14px;"></i>
                <p class="mb-0">contact@example.com</p>
            </li>
            <li class="d-flex align-items-center mb-3" style="font-size: 20px;">
                <i class="fa fa-clock" style="color: #000; margin-right: 14px;"></i>
                <p class="mb-0">Monday to Saturday 9:00 AM to 4:00 PM</p>
            </li>
        </ul>
    </div>
    <div class="map col-12 col-lg-6" style="height: 400px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54837.47704693294!2d31.040556285942465!3d30.79303328584053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7c95daafcf035%3A0x7421820c5e8cae42!2z2LfZhti32KfYjCDYt9mG2LfYpyAo2YLYs9mFIDIp2Iwg2YXYsdmD2LIg2LfZhti32KfYjCDZhdit2KfZgdi42Kkg2KfZhNi62LHYqNmK2Kk!5e0!3m2!1sar!2seg!4v1736482760053!5m2!1sar!2seg"
                style="border: 0; width: 100%; height: 100%;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>
<div id="productData">
    @await Html.PartialAsync("_Footer")
</div> 