
* {
    font-family: 'Roboto'
}

.form-control.bg-gray:focus {
    background-color: #ebf1f7;
    box-shadow: none;
}

.bg-light {
    background-color: rgb(245,249,251) !important
}

.bg-gray {
    background-color: #ebf1f7;
}

.form-floating label::after {
    background-color: transparent !important;
}

.form-floating label, .text-muted {
    color: #95aac9 !important;
}

.text-none {
    text-decoration: none !important;
}