<section id="newsletter" class=" mt-20 d-flex flex-wrap align-items-center justify-content-between p-3"
         style="background-image: url('/Images/banner/b2.jpg'); background-size: cover; background-repeat: no-repeat;">

    <div class="col-lg-6 col-md-12 mb-3">
        <h4 style="color: white; font-weight: 700; font-size: 22px;">Sign Up for Newsletters</h4>
        <p style="color: white; font-weight: 600; font-size: 14px;">
            Get E-Mail Updates about our Latest Shop and <span style="color: #ffbd27;">Special offers</span>
        </p>
    </div>
</section>
<footer class="container-fluid d-flex flex-wrap justify-content-between py-4">
    <div class="col-12 col-md-3 mb-4">
        <img class="logo mb-3" id="logo" src="/Images/logo.png" alt="Logo">
        <h4 class="h6 pb-3" style="font-size: 14px;">Contact</h4>
        <p style="font-size: 13px;"><strong>Address: </strong>562 El-said street Tanta</p>
        <p style="font-size: 13px;"><strong>Phone: </strong>+20 01096600427</p>
        <p style="font-size: 13px;"><strong>Hours: </strong>10:00 - 18:00 mon-sat</p>
        <div class="Follow mt-3" style="color: #465b52;">
            <h4 class="h6" style="font-size: 14px;">Follow us</h4>
            <i class="fab fa-facebook-f me-2" style="cursor: pointer;"></i>
            <i class="fab fa-twitter me-2" style="cursor: pointer;"></i>
            <i class="fab fa-instagram me-2" style="cursor: pointer;"></i>
            <i class="fab fa-linkedin-in me-2" style="cursor: pointer;"></i>
            <i class="fab fa-youtube" style="cursor: pointer;"></i>
        </div>
    </div>

    <div class="col-12 col-md-3 mb-4">
        <h4 class="h6 pb-3" style="font-size: 14px;">About</h4>
        <a href="" style="font-size: 13px" class="d-block mb-2">About us</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Delivery information</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Privacy Policy</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Terms & Conditions</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Contact Us</a>
    </div>

    <div class="col-12 col-md-3 mb-4">
        <h4 class="h6 pb-3" style="font-size: 14px;">My Account</h4>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Sign in</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">View Cart</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">My Wishlist</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Track my order</a>
        <a href="" style="font-size: 13px;" class="d-block mb-2">Help</a>
    </div>

    <div class="col-12 col-md-3 mb-4 install">
        <h4 class="h6 pb-3" style="font-size: 14px;">Install App</h4>
        <p style="font-size: 13px;">From App Store Or Google Play</p>
        <div class="row">
            <div class="col-6 mb-2">
                <img src="/Images/pay/play.jpg" alt="App Store" class="img-fluid" style="border: 1px solid #088178; border-radius: 6px;">
            </div>
            <div class="col-6 mb-2">
                <img src="/Images/pay/app.jpg" alt="Google Play" class="img-fluid" style="border: 1px solid #088178; border-radius: 6px;">
            </div>
        </div>
        <p style="font-size: 13px;">Secured Payment Gateway</p>
        <img src="/Images/pay/pay.png" alt="Payment Methods" class="img-fluid">
    </div>
</footer>

<div class="copyright text-center py-3" style="margin-top: -20px;">
    <p style="font-size: 13px;"> 2024 Tech2 etc HTML CSS E-Commerce Template</p>
</div>